<h1 id="demonstration">Demonstration</h1>
<h2 id="introduction">Introduction</h2>
<ol>
<li>Description of scenario<ul>
<li>Sensor package to measure the acceleration of X3&#39;s piston</li>
<li>Estimate trajectory using the acceleration</li>
<li>Deal with integration drift using checkpoints (empirical position
measurements)</li>
</ul>
</li>
<li>Description of bench rig<ul>
<li>Not to scale demonstration: showing functionality far below X3 conditions</li>
<li>Bench rig<ul>
<li>Length: ~0.79m</li>
<li>Peak velocty: ~2.5m/s</li>
<li>Peak acceleration:<ul>
<li>~30m/s/s on acceleration</li>
<li>~700m/s/s on impact</li>
</ul>
</li>
</ul>
</li>
<li>X3<ul>
<li>Length: ~14m</li>
<li>Peak velocity: >50m/s</li>
<li>Peak acceleration:<ul>
<li>>100m/s/s on acceleration</li>
<li>~2000m/s/s on deceleration</li>
</ul>
</li>
</ul>
</li>
<li>Reduced speed makes checkpoint detection easier</li>
<li>Rotary encoder to provide ground truth</li>
</ul>
</li>
</ol>
<h2 id="demonstration">Demonstration</h2>
<ol>
<li>Operation<ul>
<li>Interaction over serial</li>
<li>Configure gain, sample rate, triggering settings</li>
<li>Start sampling</li>
<li>Can be configured to not trigger under low accelerations (e.g. gravity) or
short duration accelerations (e.g. impacts)<ul>
<li>Acceleration must stay above trigger level for some period of time</li>
<li>20% of the recorded data is before the system is triggered</li>
</ul>
</li>
<li>Laser activates after trigger and when trigger acceleration is met</li>
<li>Data extracted over serial</li>
</ul>
</li>
<li>Post processing<ul>
<li>Run x3process.py script</li>
</ul>
</li>
</ol>
